html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

img {
  max-width: 100%;
}
h1 {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero-container {
  height: 100%;
  margin: 0 auto;
  background-color: azure;
}

.hero-container .desc {
  text-align: center;
  position: relative;
}

.hero-container h1 {
  color: #ccc;
  text-align: center;
}

.hero-container .image img {
  transform: scale(0.25);
  position: relative;
  top: 55vh
}
.img-desc {
  padding: 3rem 1rem;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.container {
  width: 200%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.card {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #fff;
}
.card:nth-child(2) {
  top: 30px
}
.card:nth-child(3) {
  top: 60px
}
.card:nth-child(4) {
  top: 90px
}
.content {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;

  /* padding: 100px 100px 0 100px; */
  width: 80%;
  margin: 0 auto;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.content h3 {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.blue {
  background-color: blue;
}

.beige {
  background-color: beige;
}

.aqua {
  background-color: aqua;
}

.panel {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

.plane-in-sky{
  padding-top: 10px;
  height: 100vh;
  position: relative;
}
.col-4 {
  display: inline-block;
  width: 32.6%;
}
.plane-in-sky .airplane {
  top: 70vh;
  position: relative;
  text-align: center;
}
.airplane img {
  width: 50%;
}
.couple .img-div{
  bottom: -20%;
  position: absolute;
  transform: scale(0.5);
  /* left: 50%;
  transform: translateX(-50%); */
}
.spacer {
  height: 100vh;
  width: 100%;
}
.thumbnails {
  height:  100vh;
  background-color: #fff;
  position: relative;
}
.thumbnails .thumb-cols {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}